---
const personalImageAlt = "Jorge Alfonso Alcalde";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola! Soy Jorge Alfonso Alcalde, un joven madrileño de 26 años. Me
      considero una <strong
        >persona curiosa, proactiva, con gran capacidad de aprendizaje y
        adaptación a nuevos retos</strong
      >.
    </p>

    <p>
      Mi formación como <strong
        >Técnico Superior en Administración y Finanzas</strong
      > me ha dado una <strong
        >visión estratégica y habilidades organizativas</strong
      > que aplico en mi día a día. Mi experiencia en el sector logístico me ha enseñado
      la importancia del <strong
        >trabajo en equipo, la comunicación y la gestión eficiente del tiempo</strong
      >.
    </p>

    <p>
      Recientemente me he titulado como <strong
        >Técnico Superior en Desarrollo de Aplicaciones Web</strong
      >, donde he desarrollado la <strong
        >creatividad y mi capacidad para resolver problemas complejos</strong
      >.
    </p>

    <p>
      Busco formar parte de un equipo innovador donde pueda <strong
        >seguir creciendo, aportar ideas y afrontar nuevos desafíos</strong
      >. Si buscas a alguien comprometido, resolutivo y con ganas de aprender,
      ¡hablemos!
    </p>
  </div>

  <img
    width="200"
    height="300"
    src="/fotoCV.jpg"
    alt={personalImageAlt}
    class="order-1 w-[200px] p-1 md:order-2 rotate-3 lg:p-2 rounded-2xl bg-yellow-500/5 ring-1 ring-white/20 object-cover"
    style="object-position: 50% 30%;"
  />
</article>
