---
const currentYear = new Date().getFullYear();
---

<footer class="opacity-80 mt-16 mb-10 w-full px-4 flex justify-center">
  <div class="container mx-auto w-full max-w-screen-xl flex justify-center">
    <span class="text-sm text-center text-zinc-800/90 dark:text-zinc-200/90">
      <i>
        <a
          href="https://www.linkedin.com/in/jorge-alfonso-alcalde-b44457221/"
          class="hover:underline font-semibold text-yellow-500 dark:text-yellow-400"
        >
          Jorge Alfonso Alcalde
        </a>| Actualizado en Agosto de {currentYear}.
      </i>
    </span>
  </div>
</footer>
